div {
  background: url(video-page.png) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  height: 100%;

  iframe {
    border: solid 2px grey;
    position: relative;
    right: 17%;
    margin: auto;
  }
}
