div {
  background: url(video-page.png) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  height: 100%;

  iframe {
    &.large {
      width: 900px;
      height: 700px;
    }

    &.medium {
      width: 630px;
      height: 470px;
    }

    border: solid 2px grey;
    position: relative;
    right: 17%;
    margin: auto;
  }
}
