div {
  background: url(video-page.png) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  height: 100%;

  iframe {
    &.large, &.medium {
      position: relative;
      right: 17%;
      border: solid 2px lightgrey;
    }

    &.large {
      width: 900px;
      height: 700px;
    }

    &.medium {
      width: 630px;
      height: 470px;
    }

    &.fullscreen {
      width: 100%;
      height: 80%;
      border: transparent;
    }

    margin: auto;
  }
}
