<app-image-text-box title="Regulation or Education"
                    image="url(assets/solution-images/img-top.png)"
                    [paragraphs]="[
                    'All problems that emerge from our economy and society as a whole can be addressed in two ways: regulation or education.',
                    'From our point of view both approaches are necessary. They offer short-term aswell as long-term solutions. There are multiple reasons why we have decided to engage more on education and on changing peoples mindset. The most significant one is, that educating people and encouraging them to act out of their own sense for responsibility represents a more sustainable solution. Raising awareness about plastic pollution in your neighborhood is a decisive step to combat it.'
                    ]"
                    class="{{displayMode()}}">
</app-image-text-box>

<app-image-text-box title="Our Goal"
                    image="url(assets/solution-images/img-mid.png)"
                    imagefirst="true"
                    imagewidth="narrow-image"
                    [paragraphs]="[
                    'Being an NGO, we have no direct influence on regulations. In 2015, the Nepalese government has prohibited the use of plastic bags thinner than 40 microns (mostly used for disposable shopping bags) in Kathmandu.',
                    'However, this new law does not apply to the rest of the country. We are working alongside local authorities, who take part in our seminars, workshops, distributions and other activities. The protection of the environment lies equally within the responsibility of politicians as well as non-politicians. By making first steps towards keeping a clean and healthy environment, we would like to pave the way for political actors to follow.'
                    ]"
                    class="{{displayMode()}}">
</app-image-text-box>

<app-image-text-box title="The Village Jhuwani"
                    image="url(assets/solution-images/img-low.png)"
                    [paragraphs]="[
                    'For now, we focus on the small village of Jhuwani, which consists of around two hundred households. Before we expand towards other communities, we would like to have one exemplary village, where the problem has predominantly gotten under control.'
                    ]"
                    class="{{displayMode()}}">
</app-image-text-box>

