<app-image-text-box image="url(img-top.png)"
                    [paragraphs]="[
                    'Plastic pollution takes place, when plastic products are being irresponsibly disposed into the maritime environment, our cities or our countrysides. It adversely affects wildlife, wildlife habitat and human beings.',
                    'While being useful in our daily life, all types contain pollutants that cause destructive changes to our environment. Depending on their size, they make their way into the ecosystem and interrupt biological functions in all living organisms. Suffering from major economic problems as a developing country, high unemployment rates and lack of infrastructure, the Nepalese authorities do not have sufficient resources to cope sufficiently with this threat.'
                    ]">
</app-image-text-box>

<app-image-text-box image="url(img-mid.png)"
                    imagefirst="true"
                    [paragraphs]="[
                    'Plastic pollution reaches us in two ways: There are types like chlorinated plastic (PVC), which release harmful chemicals into the surrounding soil, which then seeps into rivers, lakes, ponds and finally the groundwater. This can cause serious harm to all living organisms consuming such water.',
                    'The food chain is also affected: Most herbivores cannot distinguish between plastic (mainly polyethylene and polypropylene), straw and other materials containing cellulose. Thus, cattle, buffaloes, sheep or goats may eat plastic packets, mistaking them for organic food. In the animals digestive tract, the pollutants are broken down to microscopic size and various types of toxins enter into their cellular level. Through defecation, consumption by humans or predators and natural decomposition after death, the toxins spread into the entire biosphere, including us.'
                    ]">
</app-image-text-box>

<app-image-text-box image="url(img-low.png)"
                    [paragraphs]="[
                    'All types of plastic require a huge amount of mineral oil for their production. The process of plastic synthesis causes depletion of hydrocarbon fuel storage at a high rate. Polyurethane alone, which represents most of thermosetting plastics, consumes 11% of the worlds total production of dangerous ‘phosgene’ gas.',
                    'In most parts of Nepal, there is no garbage disposal at all. As a result, the local population is either burning or dumping its garbage anywhere in the open nature. Rivers are especially affected. In the few cases where a municipality plans for garbage disposal, it often involves landfills. In these landfills, there are currently many microorganisms which speed up the biodegradation of plastics. The microorganisms include bacteria such as Pseudomonas, nylon-eating bacteria, and Flavobacteria, which break down plastic materials. This process however releases methane, a greenhouse gas that contributes significantly to global warming.'
                    ]">
</app-image-text-box>
