:host {
  height: 100%;

  > div {
    display: flex;
    height: 100%;

    > div {
      height: 100%;
      display: flex;
      align-items: center;

      padding-left: 10px;
      padding-right: 10px;
      color: blue;
      font-family: 'Karla';
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: lightblue;
      }
      &.selected {
        background-color: lightgray;
      }
    }
  }
}
