<div>
  <div (click)="selectVideo()" [ngClass]="{'selected': videoIsSelected()}">Video</div>
  <div (click)="selectProblem()" [ngClass]="{'selected': problemIsSelected()}">The<br />Problem</div>
  <div (click)="selectSolution()" [ngClass]="{'selected': solutionIsSelected()}">Our<br />Solution</div>
  <div (click)="selectPartners()" [ngClass]="{'selected': partnersIsSelected()}">Cooperating<br />Partners</div>
  <div (click)="selectDonate()" [ngClass]="{'selected': donateIsSelected()}"><u>Donate</u></div>
  <div (click)="selectGallery()" [ngClass]="{'selected': galleryIsSelected()}">Gallery</div>
  <div (click)="selectContact()" [ngClass]="{'selected': contactIsSelected()}">Contact</div>
</div>
