:host {
  background-color: grey;
  display: flex;
  justify-content: flex-end;
  border-bottom: solid 4px black;
  padding: 38px;
  box-sizing: border-box;

  div {
    padding-left: 10px;
    padding-right: 10px;
    color: blue;
    font-family: 'Karla';
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}
