:host.desktop > div {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: blue;
  font-family: 'Karla';
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;

  &:hover {
    color: lightblue;

    &.selected {
      color: blue;
    }
  }

  &.selected {
    background-color: lightgray;
  }
}

:host.mobile {
  position: fixed;
  right: 0px;
  border: solid black 4px;
  background-color: white;

  > div {
    color: blue;
    font-family: 'Karla';
    font-size: 24px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    &.selected {
      color: lightblue;
    }
  }
}
