<div (click)="selectVideo()" [ngClass]="{'selected': videoIsSelected()}">WELCOME</div>
<div (click)="selectProblem()" [ngClass]="{'selected': problemIsSelected()}">THE<br />PROBLEM</div>
<div (click)="selectSolution()" [ngClass]="{'selected': solutionIsSelected()}">OUR<br />SOLUTION</div>
<div (click)="selectPartners()" [ngClass]="{'selected': partnersIsSelected()}">COOPERATING<br />PARTNERS</div>
<div (click)="selectDonate()" [ngClass]="{'selected': donateIsSelected()}" class='highlighted'><div>DONATE</div></div>
<div (click)="selectGallery()" [ngClass]="{'selected': galleryIsSelected()}">GALLERY</div>
<div (click)="selectContact()" [ngClass]="{'selected': contactIsSelected()}">CONTACT</div>
