html, body {
  height: 100%;
  position: relative;
  margin: 0px;
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(http://themes.googleusercontent.com/static/fonts/karla/v2/Vu9Dx8oyiuqEkuIyR3OPDQ.ttf) format('truetype');
}
