:host ::ng-deep {
  display: block;

  > div {
    div.text {
      padding: 10px;
      box-sizing: border-box;
      background-color: white;

      p, h1, a {
        font-family: Roboto;
        text-align: center;
      }
    }

    div.image {
      background: no-repeat;
      background-size: auto 100%;
    }
  }

  > div.desktop-large, div.mobile {
    div.text p, a {
      font-size: 18px;
    }
  }

  > div.desktop-medium {
    div.text h1 {
      font-size: 24px;
    }
  }

  > div.desktop-medium, div.desktop-large {
    width: 100%;
    padding-top: 28%; //workaround. padding in percent depends on width. This way we have a 50:28 aspect ratio in the containers below.
    box-sizing: border-box;
    position: relative;

    &.wide-image {
      &.image-first > div {
        &.text {
          left: 50%;
        }

        &.image {
          left: 0px;
        }
      }

      > div {
        width: 50%;
      }

      > div.image {
        left: 50%;
      }
    }

    &.narrow-image {
      &.image-first > div {
        &.text {
          left: 33%;
        }

        &.image {
          left: 0px;
        }
      }

      div.text {
        width: 67%;
      }

      div.image {
        left: 33%;
        width: 33%
      }
    }

    > div {
      position: absolute;
      top: 0;
      height: 100%;
    }

    > div.text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  > div.mobile {
    &.wide-image div.image {
      padding-top: 56%; //workaround. padding in percent depends on width. This way we have a 100:56 aspect ratio in the containers below.
    }

    &.narrow-image div.image {
      padding-top: 75%; //workaround. padding in percent depends on width. This way we have a 100:56 aspect ratio in the containers below.
    }
  }
}
